<h3 class="font-alt mb-10">Step #3.7 &mdash; Install Boot Loader</h3>
A Linux-capable boot loader must be set up in order to boot Arch Linux. The
boot loader is responsible for loading the kernel and initial ramdisk before
initiating the boot process. The AALP-GYGInstaller handles the procedure of
installing a boot loader when the boot mode is either BIOS or UEFI (see 
<a href="https://wiki.archlinux.org/index.php/Arch_boot_process">Arch boot
process</a> wiki page).<br/>
Based on the boot mode and the type of file system for:
<ol type="A">
    <li>If it exists, the &quot;/boot&quot; device</li>
    <li>Otherwise, the &quot;/&quot; or ROOT device</li>
</ol> has been formatted with, the AALP-GYGInstaller will show the options
of the available boot loaders that are supported.