<h3 class="font-alt mb-10">Your own personal, killer Arch Linux installation</h3>
This installation was done with VMware Fusion using the installer:
<ul style="list-style-image: url('images/bullets/desktop-env.png') !important;">
    <li>&quot;Window Manager&quot; &mdash; Openbox</li>
    <li>&quot;Display Manager&quot; &mdash; LightDM</li>
    <li>&quot;Composite Manager&quot; &mdash; Compton</li>
    <li>&quot;Taskbar&quot; &mdash; Tint2</li>
    <li>&quot;File Manager&quot; &mdash; Nemo</li>
    <li>&quot;Accessories&quot; &mdash;</li>
    <li>&quot;Browsers&quot; &mdash; 
        <ul style="padding-left: 50px; text-align: left; list-style-image: url('images/bullets/blue-arrow.png') !important;">
            <li>Chrome</li>
            <li>FireFox</li>
            <li>FireFox Developer</li>
            <li>Vivaldi</li>
        </ul>
    </li>
 </ul>

