<div class="container">

    <!-- Footer Logo -->
    <div class="local-scroll mb-15 wow fadeInUp" data-wow-duration="1.2s">
        <a href="#top"><img src="images/footer-logo.png" alt="" /></a>
    </div>
    <!-- End Footer Logo -->

    <!-- Footer Text -->
    <div class="footer-text">
        <!-- Copyright -->
        <div class="footer-copy font-alt">
            <a href="https://bitbucket.org/airwolfdevs/spring-aalp-gygi-iso/src/master/" target="_blank">&copy;
                AALP-GYGI 2019</a>.
        </div>
        <!-- End Copyright -->
        <div class="footer-made">
            <q>Simplicity is the ultimate sophistication</q><br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &mdash; Leonardo da
            Vinci
        </div>
    </div>
    <!-- End Footer Text -->

</div>
<!-- Top Link -->
<div class="local-scroll">
    <a href="#top" class="link-to-top"><i class="fa fa-caret-up"></i></a>
</div>
<!-- End Top Link -->