<h3 class="font-alt mb-10">Step #1.6 &mdash; Format the devices</h3>
<p style="margin-top: -15px;">(i.e. logical volumes and/or partitiions)</p>
The installer will guide you through this task to format the devices with an
appropriate File System Type (FST). The installer will:
<ol type="A">
    <li>auto complete the devices that have only a single choice of an FST.</li>
    <li>display the available FSTs of the boot loaders to set for the '/boot' device</li>
    <li>display the supported FSTs for the '/' or ROOT device</li>
    <li>display the supported FSTs and devices to set.</li>
</ol>
