<h3 class="font-alt mb-10">Step #3.5 &mdash; Initialize RAM Filesystem</h3>
The purpose of the initramfs (initial RAM filesystem) is to bootstrap the system
to the point where it can access the root file system. If any module, that is required
by a device, is not build into the kernel, then it must be able to load from the initramfs.
The initramfs was already created when the linux kernel package was installed. For this reason,
the AALP-GYGInstaller will ONLY recreate the initramfs image if either of the following are
being used by the system:
<ul style="list-style-image: url('images/bullets/right-arrow.png') !important;">
    <li><a href="https://wiki.archlinux.org/index.php/LVM">LVM</a></li>
    <li><a href="https://wiki.archlinux.org/index.php/Dm-crypt/Encrypting_an_entire_system#LVM_on_LUKS">LVM-on-LUKS</a></li>
</ul>
