After selecting to continue, the installer will run through a series of setup routines and display
the progress within a progress bar dialog (second thumbnail). These include:
<ol class="steps">
    <li>Setting the device to be partitioned and where Arch Linux will be installed. If more than
        <span style="font-weight: 900">one</span> device is found, a dialog is displayed with the devices that are eligible.
    </li>
    <li>Verifying if the hard drive can support running the <a class="external" href="https://wiki.archlinux.org/index.php/Solid_state_drive#TRIM" target="_blank">TRIM</a> command</li>
    <li>Verifying that the <a class="external" href="index.html#requirements" target="_blank">AALP-GYGI requirments</a> are met. If any are missing, a dialog (last thumbnail)
        will display all the requirements where the <span style="font-weight: 900">unchecked</span> rows are missing. These will need to be taken care of before the installer can continue.
    </li>
    <li>Verifying ability to browse IPv4 and/or IPv6 sites</li>
    <li>Setting IP Addresses that are the closest servers provided by the OpenNIC provider</li>
    <li>Getting IP Address of ISP</li>
    <li>Getting Geographical Location Information</li>
    <li>Setting the boot mode to either 'BIOS' or 'UEFI'</li>
    <li>Initializing the Installation Guide's Checklist</li>
</ol>
