<h3 class="font-alt mb-10">Step #1.1 &mdash; Set the keyboard layout</h3>
This task will help you set the appropriate layout to map to the visual &amp; functional
layout of all the keys of a keyboard. The installer will first ask if you want to use
the default layout that the ISO is set to.  Clicking:
<ul style="list-style-image: url('images/bullets/right-arrow.png') !important;">
    <li>&#8220;Yes&#8221; &mdash; sets the layout to the value displayed in the dialog 
        for the checklist of the Installation Guide (see last slide)</li>
    <li>&#8220;No&#8221; &mdash; will display a dialog with a list of countries available. Clicking:
        <ul style="list-style-image: url('images/bullets/blue-arrow.png') !important;">
            <li>&#8220;Ok&#8221; &mdash; will display the layouts available, which may or not be based
                on a language, for that country.
            </li>
            <li>&#8220;Other&#8221; &mdash; will display layouts that are not related to a particular country or language.</li>
        </ul>
        <p>After chosing a layout, the confirmation dialog is shown to confirm the value selected.</p>
    </li>
</ul>
