<h3 class="font-alt mb-10">Step #3.3 &mdash; Localization</h3>
This task of the AALP-GYGInstaller is responsible for setting of the
<a href="https://wiki.archlinux.org/index.php/Locale">Locale</a> in order
to correctly display:
<ul style="list-style-image: url('images/bullets/right-arrow.png') !important;">
    <li>Monetary values of your region</li>
    <li>Time &amp; Date formats</li>
    <li>Alphabetic idiosyncrasies</li>
    <li>Other locale-specific standards</li>
 </ul>
If you do not choose the default locale of the ISO, the AALP-GYGInstaller will:
<ol type="A">
    <li>Select either the name of a Language or a Country Code that the locale will be based on</li>
    <li>Choose from a list of available locales based on either the language or country that was selected</li>
    <li>Confirm the locale that was selected.</li>
</ol>