<h3 class="font-alt mb-10">Step #2.2 &mdash; Configure Mirror list</h3>
Arch Linux uses &quot;pacman&quot; as its package manager in order to install
&amp; update packages, which are nothing more than either pre-compiled binaries
or links to download the code and build the software on your machine. Obviously,
these packages are downloaded from a list of servers, or more commonly known as 
mirrors. The higher a mirror is placed, the more priority is given when downloading
a package.<br/>

The installer will first ask you for a primary country in order to put their servers
to the top of the list. It will then ask to optionally select a list of secondary
countries to be used as alternate mirror sites in case the packages are not found
within the primary. After the countries are selected, the installer will:
<ul style="list-style-image: url('images/bullets/right-arrow.png') !important;">
    <li>For the Primary Country:
        <ol type="A" style="list-style-image: none;">
            <li>Use the &quot;reflector&quot; package to get the most up-to-mirrors
                and sort them by speed</li>
            <li>Use the &quot;rankmirrors&quot; package to rank the mirrors according
                to their connection and opening speeds</li>
        </ol>
    </li>
    <li>For the Secondary Countries, the installer does the same as was done for the
        primary country. The only difference is that done for ALL the alternate mirrors
        that were found within each country.</li>
</ul>
