<h3 class="font-alt mb-10">Step #1.7 &mdash; Mount the file system</h3>
The installer will guide you through this task to mount the file system by:
<ol type="A">
    <li>automatically setting the mount points for the device names that match
        those within the standard file system.</li>
    <li>displaying a dialog with a list of devices that you can set/update the mount point.</li>
</ol>
