<h3 class="font-alt mb-10">Step #3.4 &mdash; Network Configuration</h3>
This task of the AALP-GYGInstaller will guide you through the process of:
<ol type="A">
    <li>Setting up the &quot;hostname&quot; for the system</li>
    <li>Installing a &quot;Network Connection Manager&quot; from a list of availavle <a href="https://wiki.archlinux.org/index.php/Network_configuration#Network_managers">Network managers</a></li>
    <li>Optionally install the <a href="https://wiki.archlinux.org/index.php/dnsmasq">dnsmasq</a> using the primary &amp; secondary DNS servers that were either:
        <ul style="list-style-image: url('images/bullets/right-arrow.png') !important;">
            <li>Manually entered</li>
            <li>Selected from a list of available providers that are free.</li>
         </ul>        
    </li>
</ol>