<h3 class="font-alt mb-10">Step #1.5 &mdash; Partition the disks</h3>
The installer presents you with two options for partitioning the hard drive:
<ol type="A">
    <li>&quot;Manual&quot; &mdash; this process should only be used if you feel comfortable to partition
        the system and you are more than an above average user of Linux. This process allows greater
        flexibility, allowing to choose the purpose and size of each partition. Use this mode if you wish
        to use software RAID.<br/>
        The installer will present you with a list of available partitioning tools to choose from. Most
        are run from the command line, but there is a GUI tool available.
    </li>
    <li>&quot;Semi-Automatic&quot; &mdash; the purpose of this process is to help guide you through
        creating the Partition Scheme/Table. In general, it follows the guidance given within the
        <a href="https://wiki.archlinux.org/index.php/Partitioning#Partition_scheme">Arch wiki</a> site.
        The process will determine the logical volumes and/or partitions that the system requires. It gives
        you suggested range of calculated sizes, but you can also choose a different size. You can also add
        custom logical volumes and/or partitions of varying sizes until the threshold is met for the '/home' device.
    </li>
</ol>