<h3 class="font-alt mb-10">Step #3.6 &mdash; Set &quot;root&quot; user's password</h3>
The right choice for a password is something long (8-20 characters, depending on importance)
and seemingly completely random. A good technique for building secure, seemingly random
passwords is to base them on characters from every word in a sentence. Take for instance
&quot;the girl is walking down the rainy street&quot; could be translated to &quot;t6!WdtR5&quot;
or, less simply, &quot;t&6!RrlW@dtR,57&quot;. This approach could make it easier to remember a
password, but note that the various letters have very different probabilities of being found at the
start of words. See the wiki page <a href="https://wiki.archlinux.org/index.php/Users_and_groups#User_database">
Users and groups</a> for more information.
