
            <!-- Section -->
            <section id="task-soft-cats" class="page-section">
                    <h2 class="section-title font-alt mb-sm-40" style="margin-top: -10px !important;">Step #4.1 &mdash; Basic Setup</h2>
                
                    <!-- Fullwidth Slider -->
                    <div class="fullwidth-slider owl-carousel bg-gray">
                    
                        <!-- Slide Item -->
                        <section class="page-section bg-gray" style="padding-bottom: 10px !important;">
                            <div class="container relative" style="margin-left: 10px !important;width: 1300px !important;">
                                <div class="row">
                                    <div class="col-md-6 mb-sm-40">
                                        <!-- Work Image -->
                                        <div class="work-full-media mt-0">
                                            <a href="images/screen-shots/yad/step-post-inst/" data-fancybox data-caption="">
                                                <img src="images/screen-shots/yad/step-post-inst/soft-cats/" style="padding-bottom: 15px" alt="" />
                                            </a>
                                        </div>
                                        <!-- End Work Image -->
                                        Click image to see preview
                                    </div>
                
                                    <div class="col-md-1 col-lg-6" style="margin-top: -20px !important;">
                                        <!-- Task Description -->
                                        <div class="text">
                                            <h3 class="font-alt mb-30 mb-xxs-10">Menu/Software Category Tasks</h3>
                                            <!-- From:  Step #4.3 &mdash; Accessory Software -->
                                            <!--   To:  Step #4.12 &mdash; Software Extras -->
                                            <p></p>
                                        </div>
                                        <!-- End Task Description -->
                                    </div>
                                </div>
                            </div>
                        </section>
                        <!-- End Slide Item -->
    
                        <!-- Slide Item -->
                        <section class="page-section bg-gray" style="padding-bottom: 10px !important;">
                            <div class="container relative" style="margin-left: 10px !important;width: 1300px !important;">
                                <div class="row">
                                    <div class="col-md-6 mb-sm-40">
                                        <!-- Work Image -->
                                        <div class="work-full-media mt-0">
                                            <a href="images/screen-shots/yad/step-post-inst/" data-fancybox data-caption="">
                                                <img src="images/screen-shots/yad/step-post-inst/soft-cats/" style="padding-bottom: 15px" alt="" />
                                            </a>
                                        </div>
                                        <!-- End Work Image -->
                                        Click image to see preview
                                    </div>
                
                                    <div class="col-md-1 col-lg-5" style="margin-top: -20px !important;">
                                        <!-- Task Description -->
                                        <div class="text">
                                            <h3 class="font-alt mb-30 mb-xxs-10">Menu/Software Category</h3>
                                            <p>Choose from the available list of sub-categories to select
                                                AUR packages to install.</p>
                                        </div>
                                        <!-- End Task Description -->
                                    </div>
                                </div>
                            </div>
                        </section>
                        <!-- End Slide Item -->
    
                        <!-- Slide Item -->
                        <section class="page-section bg-gray" style="padding-bottom: 10px !important;">
                            <div class="container relative" style="margin-left: 10px !important;width: 1300px !important;">
                                <div class="row">
                                    <div class="col-md-6 mb-sm-40">
                                        <!-- Gallery -->
                                        <div class="work-full-media mt-0 white-shadow">
                                            <ul class="clearlist work-full-slider owl-carousel">
                                                <li>
                                                    <a href="images/screen-shots/yad/step-post-inst/soft-cats/show-calendars-tab.png" data-fancybox data-caption="">
                                                        <img src="images/screen-shots/yad/step-post-inst/soft-cats/show-calendars-tab.png" style="padding-bottom: 15px" alt="" />
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="images/screen-shots/yad/step-post-inst/soft-cats/show-pb.png" data-fancybox data-caption="">
                                                        <img src="images/screen-shots/yad/step-post-inst/soft-cats/show-pb.png" style="padding-bottom: 15px" alt="" />
                                                    </a>
                                                </li>
                                            </ul>
                                            Click image to see preview
                                        </div>
                                        <!-- End Gallery -->
                                    </div>
                
                                    <div class="col-md-1 col-lg-6" style="margin-top: -20px !important;">
                                        <!-- Task Description -->
                                        <div class="text">
                                            <h3 class="font-alt mb-30 mb-xxs-10">Sub-Category of AUR packages</h3>
                                            <p>If there are checkboxes, select as many software packages as you like</p>
                                        </div>
                                        <!-- End Task Description -->
                                    </div>
                                </div>
                            </div>
                        </section>
                        <!-- End Slide Item -->
                                
                    </div>
                    <!-- End Fullwidth Slider -->
                </section>
                <!-- End Menu Section -->
    